/cmake-build-debug/
/cmake-build-debug-mingw/
/cmake-build-debug-visual-studio/

/cmake-build-release-clang/
/cmake-build-debug-clang/

/build/

/.idea/

/.vs/DatabaseCpp
/.vs
/out/build/x64-Debug
/cmake-build-debug-clang/
/out/
/.cache/clangd/index
